.container {
  background: #fff;
  display: flex;
  flex-wrap: wrap;

  div {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    app-app-child {
      background: #ff435b;
      color: white;
    }
  }
}
